body {
  background-color: greenyellow;
	color: black;
	font-family: 'League Spartan', sans-serif;
	height: 100vh;
	margin: 0;
	width: 100vw;
	/* margin: 0; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
